version: "3.9"

services:
  mysql_db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Joaco06151970
      MYSQL_DATABASE: liquidation
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysql", "-uroot", "-pJoaco06151970", "-e", "SELECT 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes:
      - db_data:/var/lib/mysql

  mysql_exporter:
    image: prom/mysqld-exporter:v0.15.0
    container_name: mysql_exporter
    restart: unless-stopped
    volumes:
      - ./my.cnf:/.my.cnf:ro
    ports:
      - "9104:9104"
    depends_on:
      mysql_db:
        condition: service_healthy
  
  backend:
    image: emmanuecalad/liquidation-backend:latest
    container_name: backend
    restart: always
    depends_on:
      mysql_db:
        condition: service_healthy
    environment:
      - DATABASE_URL=mysql+pymysql://root:Joaco06151970@mysql_db:3306/liquidation
      - SECRET_KEY=clave_secreta_mi_hermanito
      - FRONTEND_URL=["http://localhost:3000", "http://127.0.0.1:3000"]
    ports:
      - "8000:8000"

  frontend:
    image: emmanuecalad/liquidation-frontend:latest
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:80"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

volumes:
  db_data:


node_exporter:
  image: prom/node-exporter:latest
  container_name: node_exporter
  ports:
    - "9100:9100"