apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  DATABASE_URL: "mysql+pymysql://root:Joaco06151970@mysql-service:3306/liquidation"
  FRONTEND_URL:  "['http://frontend-service','http://localhost:3000']"
